/*!important Do not remove. It ensures that the padding
and borders are taken into account in the element's total
height/width.*/

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
html,
body {
  height: 100%;
  margin: 0;
  position: relative;
}

[class*="col-"] {
  float: left;
  padding: 15px;
  border: 1px solid black;
}

[class*="col-"] {
  width: 100%;
}

/*Desktops*/
@media only screen and (min-width: 768px) {
  .col-1 {
    width: 25%;
  }
  .col-2 {
    width: 50%;
  }
  .col-3 {
    width: 75%;
  }
  .col-4 {
    width: 100%;
  }
  .body {
    width: 90%;
  }
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.header {
  display: block;
  border: 1px solid black;
  background-color: rgb(33, 105, 0);
  width: 100%;
  text-align: center;
  padding-right: 50px;
}

.BigTitle {
  color: rgb(236, 236, 236);
  text-align: right;
}

.menu {
  overflow: none;
}

.menu a {
  float: right;
  width: 15%;
  display: block;
  text-align: center;
  padding: 8px;
  text-decoration: none;
  border: 1px solid black;
}

#firstLink {
  float: left;
  width: 100%;
}

.menu a:hover {
  background-color: rgb(33, 105, 0);
  color: white;
  cursor: pointer;
}

.menu input[type="text"] {
  width: 55%;
  float: right;
  padding: 10px;
  border: none;
  margin-top: 2px;
}

img {
  max-width: 100%;
  height: auto;
}

@media only screen and (max-width: 600px) {
  .menu a {
    float: none;
    display: block;
    text-align: center;
    width: 100%;
    margin: 0px;
    padding: 8px;
  }

  .menu input[type="text"] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 8px;
    border: 1px solid rgb(0, 88, 59);
  }

  .menu .dropdown {
    float: none;
    display: block;
    width: 100%;
    margin: 0;
  }
  .body {
    width: 100%;
  }
}

.dropdown {
  width: 15%;
  position: relative;
  display: inline-block;
}

.dropdown:hover .dropdown-content {
  display: block;
  border: 1px solid black;
}

.dropdown-content {
  display: none;
  position: absolute;
  transition: all 0.5s ease;
  background-color: #f1f1f1;
  margin-top: 2.25rem;
  min-width: 100%;
  z-index: 1;
}

.dropdown-content .dropdown-menu {
  width: 100%;
  clear: both;
  color: black;
  padding: 8px;
  text-decoration: none;
  display: block;
  transition-duration: 0.5s;
}

.footer {
  display: block;
  border: 1px solid black;
  background-color: rgb(33, 105, 0);
  text-align: center;
  color: #f1f1f1;
  width: 100%;
  height: 30%;
  bottom: 0;
}

.footer a {
  text-decoration: none;
  color: white;
}

#link-list-left {
  display: inline;
  float: left;
  padding: 25px;
}

#link-list-right {
  display: inline;
  float: left;
  padding: 25px;
}

#contact-info {
  padding-top: 50px;
  padding-right: 100px;
  display: inline;
  float: right;
}
.body {
  display: block;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid black;
}

.ailes_wrapper {
  background-color: rgb(247, 247, 247);
  display: flex;
  flex-direction: column;
}
.ailes_wrapper h1 {
  color: black;
  box-sizing: border-box;
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  width: auto;
}

.ailes_wrapper h2 {
  color: black;
  box-sizing: border-box;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  width: auto;
}

.ailes_block {
  width: 100%;
}

.ailes_block ul {
  list-style-type: none;
  display: inline-flex;
  flex-wrap: wrap;
  gap: 5px;
  padding: 0;
  margin: 0;
}

.ailes_block ul li {
  list-style: none;
  flex: 100%;
}

.aile {
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  height: auto;
}
.ailes_block img {
  width: 100%;
  height: 12em;
  object-fit: cover;
  object-position: center;
  vertical-align: middle;
}

.aile h3 {
  text-align: center;
  color: black;
  box-sizing: border-box;
  font-size: 2.5vw;

  text-align: center;
  width: auto;
}
/* Products*/
.products_wrapper {
  background-color: rgb(247, 247, 247);
  display: inline-flex;
  flex-direction: column;
}
.products_wrapper h1 {
  color: black;
  box-sizing: border-box;
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  width: auto;
}

.products_wrapper h2 {
  color: black;
  box-sizing: border-box;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  width: auto;
}

.products_block {
  width: 100%;
  padding: 2.5%;
}

.products_block ul {
  list-style-type: none;
  display: inline-flex;
  flex-wrap: wrap;
  gap: 2.5%;
  padding: 0;
  margin: 0;
}

.products_block ul li {
  list-style: none;
  flex: 40%;
  margin-top: 5%;
}

.products_block ul li a {
  text-decoration: none;
}

.products_block ul li a:link,
.products_block ul li a:visited {
  color: rgb(0, 0, 0);
}
.product {
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  height: auto;
  border-radius: 1%;
  border: 1px solid rgb(240, 240, 240);
  overflow: hidden;
}
.products_block img {
  width: 100%;
  height: auto;
  max-height: 12em;
  object-fit: contain;
  object-position: center;
  vertical-align: middle;
}

.product h3,
.product h4 {
  text-align: center;
  color: black;
  box-sizing: border-box;
  font-size: 2.5vw;
  text-align: center;
  width: auto;
  margin: 1%;
}

.product h4 {
  font-size: 1.5vw;
}

.product span {
  display: block;
  font-size: 2.5vw;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: auto;
}

.item_wrapper {
  margin-top: auto;
  margin-bottom: auto;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.item_details {
  width: 50%;
  padding-left: 1%;
  background-color: rgb(247, 247, 247);
}
.item_wrapper img {
  height: auto;
  max-width: 50%;
}

.item_wrapper hr {
  border-color: rgb(240, 240, 240);
  border-style: solid;
  margin-right: 1%;
}
.product_description {
  display: block;
}

.brand {
  font-family: sans-serif;
  color: rgb(125, 125, 125);
  font-size: 2vw;
}
.item_description {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  display: block;
  font-size: 3vw;
}
.item_price {
  font-family: Georgia, "Times New Roman", Times, serif;
  display: block;
  text-shadow: rgb(0, 0, 0);
  font-weight: 700;
  font-size: 3vw;
}
.item_price_insight {
  display: block;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-top: 2.5%;
  font-size: 1.25vw;
  color: rgb(125, 125, 125);
  font-weight: lighter;
}
.button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  padding: 15px;
  width: 35%;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(0, 0, 0);
  text-align: center;
  color: rgb(0, 0, 0);
  transition: all 0.2s;
  font-family: sans-serif;
  font-weight: 300;
  box-sizing: border-box;
}
.button:hover {
  color: rgb(255, 225, 225);
  background-color: rgb(33, 105, 0);
}
.item_number {
  display: block;
  margin-bottom: 0;
}
.product_description {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.5vw;
}
.item_number {
  position: absolute;
  color: rgb(125, 125, 125);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1vw;
  bottom: 0;
}
