html {
    background-color:rgb(189, 221, 206);
}

header {
    background-color:rgb(189, 221, 206);
    padding:10px;
    margin-left:120px;
    height:70px;
}

/*Welcome message*/
.welcome {
    margin-left:20px;
    font-size:40px;
    color:rgb(44, 99, 81);
}

/*Side Bar*/
aside {
    position:fixed;
    height:100%;
    width:120px;
    left:0;
    top:0;
    background-color:rgb(189, 221, 206) ;
    overflow:auto;
}

aside a {
    display:block;
    text-decoration: none;
    color:white;
    padding:15px;
    background-color:rgb(26, 78, 68);
    margin:1px;
    border:solid;
    border-width:1px;
    border-color:rgb(124, 216, 196);
}

aside a:hover {
    background-color:grey;
    text-decoration:none;
}

/*Section where the products will be stored*/
.inventory {
    margin-left:150px;
    margin-right:30px;
    background-color:rgb(171, 238, 153);
    border:black 1px solid;
}

.name-space {
    background-color:blue;
    float:left;
    width:30%;

}

.department-space {
    background-color:red;
    float:left;
    width:20%;
}

.quantity-space {
    background-color:green;
    float:left;
    width:10%;
}

.price-space {
    background-color:rgb(212, 0, 255);
    float:left;
    width:10%;
}

.origin-space {
    background-color:hotpink;
    float:left;
    width:10%;
}
.edit-space {
    background-color:rgb(5, 247, 255);
    float:left;
    width:10%;
}

.delete-space {
    background-color:rgb(143, 109, 0);
    float:left;
    width:10%;

}

.product {
    float:left;
    width:100%;
    text-align:center;
    border:1px black solid;
}

/*Space under inventory table*/
footer {
    height:100%;
    background-color:rgb(189, 221, 206);
    padding:25px;
    margin-left:120px;
}

/*Color side of table*/
.margins{
    background-color:rgb(189, 221, 206);
}



/* Small Screens */
    @media only screen and (max-width: 700px) {
        header {
            width:100%;
            margin-left:0;
        }

        aside {
            position:relative;
            width:100%;
            margin:0;
            padding:0;
            left:0;
            top:0;
        }
        aside a {
            display:block;
            text-decoration: none;
            color:white;
            padding:5px;
            text-align: center;
        }
        .inventory {
            width:100%;
            margin-left:0;
        }

    }

    @media only screen and (max-width: 1000px) {
        header {
            width:100%;
            margin-left:0;
        }

        aside {
            position:relative;
            width:100%;
            margin:0;
            padding:0;
            left:0;
            top:0;
        }

        aside a {
            display:block;
            text-decoration: none;
            color:white;
            padding:5px;
            text-align: center;
        }

        .inventory {
            width:100%;
            margin-left:0;
        }

        .product {
            float:left;
            width:48%;
            border:1px black solid;
            margin:1%;
        }
        .name-space {
            background-color:blue;
            float:left;
            width:100%;
        }
        
        .department-space {
            background-color:red;
            float:left;
            width:100%;
        }
        .quantity-space {
            background-color:green;
            float:left;
            width:100%;
        }
        .price-space {
            background-color:rgb(212, 0, 255);
            float:left;
            width:100%;
        }
        
        .origin-space {
            background-color:hotpink;
            float:left;
            width:100%;
        }
        .edit-space {
            background-color:rgb(5, 247, 255);
            float:left;
            width:100%;
        }
        .delete-space {
            background-color:rgb(143, 109, 0);
            float:left;
            width:100%;
        }
    }
    /* Small Screens */
    @media only screen and (max-width: 700px) {
        header {
            width:100%;
            margin-left:0;
        }

        aside {
            position:relative;
            width:100%;
            margin:0;
            padding:0;
            left:0;
            top:0;
        }
        aside a {
            display:block;
            text-decoration: none;
            color:white;
            padding:5px;
            text-align: center;
        }
        .inventory {
            width:100%;
            margin-left:0;
        }

    }

    @media only screen and (max-width: 500px) {
        header {
            width:100%;
            margin-left:0;
        }

        aside {
            position:relative;
            width:100%;
            margin:0;
            padding:0;
            left:0;
            top:0;
        }

        aside a {
            display:block;
            text-decoration: none;
            color:white;
            padding:5px;
            text-align: center;
        }

        .inventory {
            width:100%;
            margin-left:0;
        }

        .product {
            float:left;
            width:100%;
            border:1px black solid;
            margin:1%;
        }
        .name-space {
            background-color:blue;
            float:left;
            width:100%;
        }
        
        .department-space {
            background-color:red;
            float:left;
            width:100%;
        }
        .quantity-space {
            background-color:green;
            float:left;
            width:100%;
        }
        .price-space {
            background-color:rgb(212, 0, 255);
            float:left;
            width:100%;
        }
        
        .origin-space {
            background-color:hotpink;
            float:left;
            width:100%;
        }
        .edit-space {
            background-color:rgb(5, 247, 255);
            float:left;
            width:100%;
        }
        .delete-space {
            background-color:rgb(143, 109, 0);
            float:left;
            width:100%;
        }
        .inventory {
            width:99%;
            margin-left:0;
        }
    }