html {
    background-color:rgb(189, 221, 206) ;
}

.sidebar {
    position:fixed;
    height:100%;
    width:40%;
    background-color: cadetblue;
}

.right-side {
    position:relative;
    float:right;
    margin-top:30px;
    width:60%;
    background-color:rgb(189, 221, 206) ;
}


table {
    margin-left:auto;
    margin-right:auto;
    width:80%;
    margin-top:3%;
}

tr {
    text-align:center;
    height:100px;
}

input{
    width:80%;
    height:30px;
    padding:25px;
}

.col-2 input {
    width:90%;
}

.col-3 input {
    width:90%;
}
.col-7 input{
    width:95%;
}

.col-10 input {
    width:97%;
}

.col-12 input {
    width:100%;
}

.date input{
    text-align: center;
}

.ta {
    height:250px;
}

textarea {
    width:97.5%;
    resize: none;
}

.button-row{
    height:80px;
}

.circled-picture
{
    height:220px;
    width:220px;
    border-radius: 50%;
    display:block;
    border-color:black;
    border-style:solid;
    border-width: 5px;
    background-color: rgb(255, 255, 255);
    margin-left:auto;
    margin-right:auto;
    margin-top:20px;
}

.circled-picture p
{
    margin-top:100px;
}

button {
    width:20%;
    height:50px;
}

#cancel-button {
    margin-left:100px;
}

    /* Extra small devices (phones, 600px and down) */
    @media only screen and (max-width: 1000px) {
        .sidebar{
            position:fixed;
            width:100%;
            height:5%;
        }

        .right-side {
            position:relative;
            float:none;
            margin-top:1%;
            width:100%;
            background-color:rgb(189, 221, 206) ;
        }
        
        table {
            margin-top:20%;
            border:none;
            background-color:rgb(189, 221, 206) ;
        }
        tr {
            background-color:rgb(189, 221, 206) ;
        }
        input{
            padding:1%;
        }

        .circled-picture{
            background-color:violet;
        }
    }

    @media only screen and (max-width: 600px){
        
        .sidebar{
            display:none;
        }
        .circled-picture{
            background-color:rgb(255, 0, 0);
            width:100px;
            height:100px;
            margin-top:5px;
        }
        .circled-picture p {
            margin-top:25px;
        }


        table {
            float:left;
            width:100%;
        }
    
        .col-3{
            width:25%;
        }

        
        .date{
            width:40%;
        }

        label{
            font-size:11px;
        }

        textarea {
            height:1%;
        }

    }

    @media only screen and (max-width: 340px){
        
        .sidebar{
            display:none;
        }
        .circled-picture{
            background-color:rgb(0, 174, 255);
            width:100px;
            height:100px;
            margin-top:5px;
        }
        .circled-picture p {
            margin-top:25px;
        }


        table {
            float:left;
            width:100%;
        }
    
        tr{
            width:100%;
        }

        label{
            font-size:11px;
        }

        textarea {
            height:1%;
        }

        .col-10{
            
        }
    }