html {
    background-color:rgb(189, 221, 206) ;
}

.sidebar {
    position:fixed;
    height:100%;
    width:40%;
    background-color: cadetblue;
}
.sidebar p {
    font-size:120px;
    margin-right:10px;
    margin-top:350px;
    float:right;
    color:rgb(201, 201, 47)
}

.right-side {
    position:relative;
    float:right;
    margin-top:30px;
    width:60%;
    background-color:rgb(189, 221, 206) ;
}


table {
    border:1px black solid;
    margin-left:auto;
    margin-right:auto;
    width:80%;
}

tr {
    background-color:rgb(169, 233, 233);
    text-align:center;
    height:100px;
}

input{
    width:80%;
    height:30px;
}

.col-2 input {
    width:90%;
}

.col-3 input {
    width:90%;
}
.col-7 input{
    width:95%;
}

.col-10 input {
    width:97%;
}

.col-12 input {
    width:100%;
}

.ta {
    height:250px;
}

textarea {
    width:97.5%;
    resize: none;
}

.button-row{
    height:80px;
}

.circled-picture
{
    height:220px;
    width:220px;
    border-radius: 50%;
    display:block;
    border-color:black;
    border-style:solid;
    border-width: 5px;
    background-color: rgb(255, 255, 255);
    margin-left:auto;
    margin-right:auto;
    margin-top:20px;
}

.circled-picture p
{
    margin-top:100px;
}

button {
    width:20%;
    height:50px;
}

#cancel-button {
    margin-left:100px;
}




    /* Extra small devices (phones, 600px and down) */
    @media only screen and (max-width: 600px) {
        header {
            width:100%;
            margin-left:0;
        }

        aside {
            position:relative;
            width:100%;
            margin:0;
            padding:0;
            left:0;
            top:0;
        }
        aside a {
            display:block;
            text-decoration: none;
            color:white;
            padding:5px;
            text-align: center;
        }
        .inventory {
            width:100%;
            margin-left:0;
        }
    }